.chooser-selection
  border-radius: 50%
  background-color: #455249
  color: white
  padding: 5px
  margin: 10px
  cursor: pointer
  width: 26px
  text-align: center
  vendor(user-select, none)
.line-chooser
  width: 25px
  text-align: center

.chooser-container
  width: 150px
  display: inline-block
  border: 1px solid #ccc
  padding: 5px 10px;
  height: 175px
  float: left
  margin-right: 10px

.hsl-chooser
  padding: 20px
  .input
    width: 50px
    padding: 8px 0px 8px 8px
    border: 1px solid #ccc;
    border-radius: 3px
    &:focus
      border: 1px solid #54D2E2
      outline: 0px
      box-shadow: 0px 0px 1px 0px #54d2e2

.app-body
  margin-top: 40px
.toggle-container
  display: inline-block
.colorpicker-box-container
  position: fixed
  bottom: 0px
.colorpicker-container 
  width: 100%
  background-color: #808080;
  border-bottom: 1px solid 
  border-top: 1px solid 
  padding: 10px
  h6
    font-family: 'Abel'
  .colorpicker-canvas
    border: 1px solid #000;
    border-radius: 2px;
    position: absolute;
    cursor: pointer;
  .canvas-container
    margin-bottom: 5px
    position: relative
    vendor(user-select, none)
  .canvas-container:last-child 
    margin-bottom: 0px
  .selector
    position: absolute
    border-radius: 2px
    border: 2px solid white;
    pointer-events: none
    z-index: 2
  
.relativity-display
  margin-top: 130px
  .box-1
    height: 200px
    position: relative
    .box-main
      position: absolute
      width: 50px
      height: 50px
      left: calc(50% - 25px)
      bottom: 0
  .box-1.bottom .box-main
    position: absolute
    top: 0
  .box-2
    height: 100px
  .selectable:hover 
    outline: 2px dashed white;
    cursor: pointer

.display-colorwell
  width: 30px
  height: 30px

.palettecolor
  height: 15px
  width: 15px
  float: left

.palette-display
  position: relative
