baseSize = 16px

html
  font-family: 'Merriweather', sans-serif

h1, h2, h3, h4, h5, h6, p, text
  font-family: 'Merriweather', sans-serif
  line-height: 150%

h6
  font-family: 'Abel', sans-serif

fontSize1() 
  font-size: baseSize * 1.5
  padding-bottom: baseSize * 1.25

fontSize2() 
  font-size: baseSize * 1.25
  padding-bottom: baseSize

fontSize3() 
  font-size: baseSize * 1.25 
  padding-bottom: baseSize
  
fontSize4() 
  font-size: baseSize
  padding-bottom: baseSize * 0.75

fontSize5()
  font-size: baseSize * 0.75
  padding-bottom: baseSize * 0.5

fontSize5()
  font-size: baseSize * 0.5
  padding-bottom: baseSize * 0.5

.alt-font {
  font-family: 'Abel'
}

h1
  fontSize1()

h2
  fontSize2()

h3
  fontSize3()

h4
  fontSize4()
  font-weight: 100

h5 
  fontSize5()

h6
  fontSize6()

.pad5l
  padding-left: 5px

.inline
  display: inline-block

.bold
  font-weight: 800
