transition($params)
  -webkit-transition: $params
  -moz-transition: $params
  -ms-transition: $params
  -o-transition: $params
  transition: $params
transform($params)
  -webkit-transform: $params
  -moz-transform: $params
  -ms-transform: $params
  transform: $params
background-size($params)
  -webkit-background-size: $params
  -moz-background-size: $params
  -o-background-size: $params
  background-size: $params
ease($params)
  -webkit-transition-timing-function: $params
  -webkit-transition-timing-function: $params
  -moz-transition-timing-function: $params
  -o-transition-timing-function: $params
  transition-timing-function: $params
duration($params)
  -webkit-transition-duration: $params
  transition-duration: $params

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args
