.pad0 {
  padding: 0
}
// pad sm
.pad-sm {
  padding: baseSize * 0.25 baseSize * 0.5
}

.pad-sm-l {
  padding-left: baseSize * 0.5
}

.pad-sm-r {
  padding-right: baseSize * 0.5
}

.pad-sm-t {
  padding-top: baseSize * 0.5
}

.pad-sm-b {
  padding-bottom: baseSize * 0.5
}

// pad-m
.pad-m {
  padding: baseSize * 2
}

.pad-m-l {
  padding-left: baseSize * 2
}

.pad-m-r {
  padding-right: baseSize * 2
}

.pad-m-t {
  padding-top: baseSize * 2
}

.pad-m-b {
  padding-bottom: baseSize * 2
}

// mar-sm 
.mar-sm {
  margin: baseSize
}

.mar-sm-l {
  margin-left: baseSize
}

.mar-sm-r {
  margin-right: baseSize
}

.mar-sm-t {
  margin-top: baseSize
}

.mar-sm-b {
  margin-bottom: baseSize
}

// mar-m
.mar-m {
  margin: baseSize * 2
}

.mar-m-l {
  margin-left: baseSize * 2
}

.mar-m-r {
  margin-right: baseSize * 2
}

.mar-m-t {
  margin-top: baseSize * 2
}

.mar-m-b {
  margin-bottom: baseSize * 2
}
